<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>版本管理</title>
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/oc.css" media="all">
    <style>
        .laytable-cell-1-pic_big{
            height:100%;
            max-width: 100%;
        }
        .laytable-cell{
            text-align: center;
        }
        .del {
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">版本管理</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div style="padding-bottom: 10px;">
                    <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
                    <a class="layui-btn layuiadmin-btn-useradmin del" data-type="del">删除</a>
                </div>
                <table id="list" lay-filter="list"></table>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>

<script src="__LAYUI__/layui/layui.js"></script>
<script>
    layui.use(['table', 'jquery','laydate'], function () {
        var table = layui.table,
            $ = layui.$;
        var laydate = layui.laydate;

        table.render({
            elem: '#list',
            url: "{:url('Version/versionList')}", //数据接口
            title: '版本管理表',
            toolbar: 'true',
            defaultToolbar: ['filter', 'print', 'exports'],
            page: true,
            loading: true,
            limit: 20,
            limits: [10, 20, 50, 100],
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                {field: 'site_name', title: '站点名称'},
                {field: 'platform', title: '平台', width:180},
                {field: 'app_version', title: 'APP版本'},
                {field: 'version_code', title: '版本号'},
                {field: 'version_desc', title: '版本描述'},
                {field: 'download_url', title: '下载链接'},
                {field: 'share_url', title: '分享链接'},
                {field: 'created_at', title: '创建时间', sort: true},
                {fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo',title:"操作"}
            ]]
        });

        //事件
        var active = {
            del: function () {
                var checkStatus = table.checkStatus('list')
                    , checkData = checkStatus.data; //得到选中的数据
                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                var ids = [];
                for (var v in checkData) {
                    ids.push(checkData[v].id);
                }
                layer.confirm('确定删除吗？', function (index) {
                    console.log(ids);return false;
                    $.post("{:url('Version/delVersion')}", {id: ids}, function (res) {
                        if (res.code === 1) {
                            layer.close(index);
                            table.reload('list');
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg);
                        }
                    }, 'json')
                })
            },reload: function () {
                var name = $('#name').val();
                var index = layer.msg('查询中，请稍候...',{icon: 16,time:false,shade:0});

                setTimeout(function(){
                    table.reload('list', { //表格的id
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            name:$.trim(name),
                        }
                    });
                    layer.close(index);
                },800);
                table.render();
            }, add: function () {
                parent.layui.index.openTabsPage('/admin/version/versionForm','版本记录编辑');
            }
        };
        $('.layuiadmin-btn-useradmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听行工具事件
        table.on('tool(list)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.post('{:url("Version/delVersion")}', {id: [data.id]}, function (res) {
                        if (res.code === 1) {
                            obj.del();
                            layer.close(index);
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg);
                        }
                    });
                });
            }else if (layEvent === 'edit') {
                parent.layui.index.openTabsPage('/admin/version/versionForm?aid=' + data.id,'版本记录编辑');
            }
        });
    });
</script>
</body>
</html>