<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>简讯日志管理</title>
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/oc.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">简讯日志管理</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div style="padding-bottom: 10px;">
                    <a class="layui-btn layuiadmin-btn-useradmin" data-type="del">刪除</a>
                </div>
                <table id="list" lay-filter="list"></table>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">刪除</a>
                </script>
            </div>
        </div>
    </div>
</div>

<script src="__LAYUI__/layui/layui.js"></script>
<script>
    layui.use(['table', 'jquery','laydate'], function () {
        var table = layui.table,
            $ = layui.$;
        table.render({
            elem: '#list',
            url: "{:url('usernotice/index')}", //数据接口
            title: '用户通知日志表',
            toolbar: 'true',
            defaultToolbar: ['filter', 'print', 'exports'],
            page: true,
            loading: true,
            limit: 20,
            limits: [10, 20, 50, 100],
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', sort: true, fixed: 'left',width:150},
                {field: 'username', title: '用户', sort: true},
                {field: 'description', title: '通知内容', sort: true,width:350},
                {field: 'created_at', title: '创建时间', sort: true},
                {fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo',title:"操作"}
            ]]
        });

        //事件
        var active = {
            del: function () {
                var checkStatus = table.checkStatus('list')
                    , checkData = checkStatus.data; //得到选中的数据
                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                var ids = [];
                for (var v in checkData) {
                    ids.push(checkData[v].id);
                }
                layer.confirm('确定删除吗？', function (index) {
                    $.post("{:url('usernotice/delSms')}", {id: ids}, function (res) {
                        if (res.code === 1) {
                            layer.close(index);
                            table.reload('list');
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg);
                        }
                    }, 'json')
                })
            }

        };
        $('.layuiadmin-btn-useradmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听行工具事件
        table.on('tool(list)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.post('{:url("usernotice/delSms")}', {id: [data.id]}, function (res) {
                        if (res.code === 1) {
                            obj.del();
                            layer.close(index);
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg);
                        }
                    });
                });
            }
        });
    });
</script>
</body>
</html>