<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css" media="all">
    <style>
        .layui-upload-img {
            width: 190px;
            height: 92px;
            margin: 0 10px 10px 0;
        }
    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">文章添加</div>
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <input type="hidden" name="id" value="{$info.id}" class="layui-input">
                <div class="layui-form-item">
                    <label class="layui-form-label">简体文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="zh_cn_post_title" value="{$info.zh_cn_post_title}" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">英文文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="en_us_post_title" value="{$info.en_us_post_title}" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">繁体文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="zh_tw_post_title" value="{$info.zh_tw_post_title}" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">文章分类</label>
                    <div class="layui-input-inline">
                        <select name="category_id" lay-filter="category_id" id="category_id">
                            {volist name="Tree" id="vo"}
                            <option value="{$vo.id}" >{$vo.title_show}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">缩略图</label>
                    <div class="layui-input-block">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="uploadcover">上传图片</button>
                            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                预览图：
                                <div class="layui-upload-list" id="demo1">
                                    <?php if(!empty($info['more'])){ $more=json_decode($info['more']); ?>
                                    {foreach $more as $k => $v}
                                    <img class="layui-upload-img" src="{$v}">
                                    {/foreach}
                                    <?php }?>
                                </div>
                            </blockquote>
                            <input type="hidden" name="more" id="more" value="{$info.more}">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">简体关键字</label>
                    <div class="layui-input-block">
                        <input type="text" name="zh_cn_post_keywords" value="{$info.zh_cn_post_keywords}"  placeholder="多关键词之間用英文逗号隔开"
                               autocomplete="off" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">英文关键字</label>
                    <div class="layui-input-block">
                        <input type="text" name="en_us_post_keywords" value="{$info.en_us_post_keywords}"  placeholder="多关键词之間用英文逗号隔开"
                               autocomplete="off" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">繁体关键字</label>
                    <div class="layui-input-block">
                        <input type="text" name="zh_tw_post_keywords" value="{$info.zh_tw_post_keywords}"  placeholder="多关键词之間用英文逗号隔开"
                               autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-form-item" >
                    <label class="layui-form-label">简体內容</label>
                    <div class="layui-input-block">
                        <textarea id="zh_cn_post_content" name="zh_cn_post_content" class="lauyi-textarea">{$info.zh_cn_post_content}</textarea>
                    </div>
                </div>
                <div class="layui-form-item" >
                    <label class="layui-form-label">英文內容</label>
                    <div class="layui-input-block">
                        <textarea id="en_us_post_content" name="en_us_post_content" class="lauyi-textarea">{$info.en_us_post_content}</textarea>
                    </div>
                </div>
                <div class="layui-form-item" >
                    <label class="layui-form-label">繁体內容</label>
                    <div class="layui-input-block">
                        <textarea id="zh_tw_post_content" name="zh_tw_post_content" class="lauyi-textarea">{$info.zh_tw_post_content}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">是否置顶推荐</label>
                    <div class="layui-input-block">
                        <input type="checkbox"
                               {if $info.is_top== 1}checked{/if}
                        name="is_top" lay-skin="switch" lay-filter="switchTest" lay-text="置顶|不置顶">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="checkbox"
                               {if $info.post_status== 1}checked{/if}
                        name="post_status" lay-skin="switch" lay-filter="switchTest" lay-text="发布|不发布">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="component-form-demo" >立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="__LAYUI__/layui/layui.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/admin/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>

</script>
<script>
    //function updateeweb() {
    //        document.getElementById("eWebEditor1").contentWindow.update();
     //   }
    var ue = UE.getEditor('zh_cn_post_content');
    var ue = UE.getEditor('en_us_post_content');
    var ue = UE.getEditor('zh_tw_post_content');
    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口文章
        selectM: '../lib/extend/selectM',
        treeSelect: '../lib/extend/treeSelect'
    }).use(['table','index', 'form','upload','treeSelect','laydate'],function() {
        var $ = layui.jquery,
            upload = layui.upload,
            table = layui.table,
            form = layui.form;
            var laydate = layui.laydate;
            laydate.render({
                elem: '#datestart'
            });
            laydate.render({
                elem: '#dateend'
            });
            $("#category_id").val('{$info.category_id}');
            form.render('select');
            //普通图片上传
        var imgurl=[];
        var uploadInst = upload.render({
            elem: '#uploadcover'
            ,url: '{:url("uploadImg")}'
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').empty();
                    $('#demo1').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res){

                //上传完毕
                if(res.code ==0){
                    imgurl.push(res.url);
                    var jsonStr1 = JSON.stringify(imgurl);
                    $('#more').val(jsonStr1)
                    return layer.msg('上传成功');
                }else{
                    return layer.msg('上传失败');
                }

            }
        });
          
          form.render(null, 'component-form-group');

        /* 监听提交 */
        form.on('submit(component-form-demo)', function(data){
            var field = data.field; //获取提交的字段
            console.log(field)
            $.post("{:url('news/newsForm')}", field, function (res) {
                if (res.code === 1) {
                    layer.msg(res.msg);
                    setTimeout(function(){
                        parent.layui.index.openTabsPage('/news/index','文章列表');
                    }, 2000);
                } else {
                    layer.msg(res.msg);
                }
            });
            return false;
        });

        table.render({
            elem: '#list',
            url: "{:url('news/like')}?aid="+{$aid}, //数据接口
            title: '点赞表',
            toolbar: 'true',
            defaultToolbar: ['filter', 'print', 'exports'],
            page: true,
            loading: true,
            limit: 20,
            limits: [10, 20, 50, 100],
            cols: [[
                {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                {field: 'nickname', title: '昵称'},
                {field: 'created_at', title: '点赞时间'},
                {fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo',title:'操作'}
            ]]
        });
        //监听行工具事件
        table.on('tool(list)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.post('{:url("news/delLike")}', {id: [data.id]}, function (res) {
                        if (res.code === 1) {
                            obj.del();
                            layer.close(index);
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg);
                        }
                    });
                });
            }
        });
          
    });
</script>
</body>
</html>
