<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章管理</title>
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/oc.css" media="all">
    <style>
        .laytable-cell-1-more{
            height:100%;
            max-width: 100%;
        }
        .laytable-cell{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">文章管理</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div style="padding-bottom: 10px;">
                    <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
                    <a class="layui-btn layuiadmin-btn-useradmin" data-type="del">刪除</a>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input style="width: auto;" type="text" id="title" name="title"  placeholder="请输入文章标题" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline ">
                        <select name="type" lay-verify="" id="type" style="height:38px">
                            <option value="" selected>请选择文章分类</option>
                            {foreach $group as $k => $v}
                            <option value="{$v.id}">{$v.zh_tw_name}</option>
                            {/foreach}
                        </select>
                     </div>
                    <div class="layui-input-inline">
                        <input style="width: auto;" type="text" id="keywords" name="keywords"  placeholder="请输入关键字" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline " style="width: 90px">
                        <button class="layui-btn layuiadmin-btn-useradmin"  data-type="reload">
                            <i class="layui-icon" style="font-size: 20px; "></i> 搜索
                        </button>
                    </div>
                </div>
                <table id="list" lay-filter="list"></table>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">刪除</a>
                    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="reply">评论</a>-->
                </script>
            </div>
        </div>
    </div>
</div>

<script src="__LAYUI__/layui/layui.js"></script>
<script>
    layui.use(['table', 'jquery'], function () {
        var table = layui.table,
            $ = layui.$;
        table.render({
            elem: '#list',
            url: "{:url('news/index')}", //数据接口
            title: '文章表',
            toolbar: 'true',
            defaultToolbar: ['filter', 'print', 'exports'],
            page: true,
            loading: true,
            limit: 20,
            limits: [10, 20, 50, 100],
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                {field: 'zh_cn_post_title', title: '简体标题'},
                {field: 'en_us_post_title', title: '英文标题'},
                {field: 'zh_tw_post_title', title: '繁体标题'},
                {field: 'acname', title: '文章分类', sort: true},
                {field: 'user_id', title: '作者', sort: true},
                {field: 'post_keywords', title: '关键字', sort: true},
                {field: 'post_status', title: '状态', sort: true},
                {fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo',title:'操作'}
            ]]
        });

        //事件
        var active = {
            del: function () {
                var checkStatus = table.checkStatus('list')
                    , checkData = checkStatus.data; //得到选中的数据
                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                var ids = [];
                for (var v in checkData) {
                    ids.push(checkData[v].id);
                }
                layer.confirm('确定删除吗？', function (index) {
                    $.post("{:url('news/delNews')}", {id: ids}, function (res) {
                        if (res.code === 1) {
                            layer.close(index);
                            table.reload('list');
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg);
                        }
                    }, 'json')
                })
            }
            , add: function () {
                parent.layui.index.openTabsPage('/news/newsForm','文章添加');

            },
            reload: function () {
                var title=$('#title').val();
                var keywords=$('#keywords').val();
                var type=$('#type').val();
                    var index = layer.msg('查询中，请稍候...',{icon: 16,time:false,shade:0});

                    setTimeout(function(){
                        table.reload('list', { //表格的id
                            page: {
                                curr: 1 //重新从第 1 页开始
                            },
                            where: {
                                title:$.trim(title),
                                keywords:$.trim(keywords),
                                type:$.trim(type)
                            }
                        });
                        layer.close(index);
                    },800);
                    table.render();
            }
        };
        $('.layuiadmin-btn-useradmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听行工具事件
        table.on('tool(list)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.post('{:url("news/delNews")}', {id: [data.id]}, function (res) {
                        if (res.code === 1) {
                            obj.del();
                            layer.close(index);
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg);
                        }
                    });
                });
            } else if (layEvent === 'edit') {
                parent.layui.index.openTabsPage('/news/newsForm?aid=' + data.id,'文章修改');
            } else if(layEvent==='reply'){
                parent.layui.index.openTabsPage('/news/reply?aid=' + data.id,'文章評論');
            }
        });
    });
</script>
</body>
</html>