body{
	max-width: 100%;
	font-size: 28px;
	margin: 0 auto;
	font-family: "Microsoft Yahei";
}
.container{
	max-width: 100%;
}
a:focus,
a:active,
a:hover{
	text-decoration: none;
}
header{
	height: 90px;
	line-height: 90px;
	background: #21292b;
	width: 100%;
	float: left;
}
header .l{
	width: 15%;
	height: 90px;
	float: left;
}
header .l a{
	display: block;
	height: 50px;
	text-align: center;
	border-right: 1px solid #121818;
}
header .l a img{
	margin-left: 2rem;
	margin-top: 1.5rem;
	height: 54px;
}
header .m{
	float: left;
	width: 70%;
	color: #fff;
	font-size: 30px;
	padding-left: 20px;
}
header .r{
	width: 15%;
	height: 90px;
	line-height: 90px;
	float: right;
}
header .r a{
	display: block;
	height: 50px;
}
header .r a img{
	margin-top: 1.5rem;
	height: 54px;
	margin-left: 1rem;
}
#top_banner{
	width: 100%;
	float: left;
}
#index_content{
	width: 100%;
	float: left;
	background: #01427E;
	background-image:url(../images/bg.jpg);
	padding: 20px 4% 90px;
}
.i_box{
	width: 100%;
	float: left;
}
.i_box ul li img{
	max-width: 54%;
	text-align: center;
	display: inline-block;
}
.i_box ul li p{
	width: 100%;
	text-align: center;
}
#index_content ul{
	list-style: none;
	padding: 0;
}
#index_content ul li{
	width: 50%;
	padding: 0 5px;
	float: left;
}
#index_content ul li a{
	display: block;
	color: #fff;
	text-align: center;
}
#index_content ul li a p{
	line-height: 34px;
	min-height: 68px;
	font-size: 1.6rem;
}
h1.tit-1{
	color: #fff;
	height: 5px;

	position: relative;
	margin-bottom: 40px;
	margin-top: 60px;
}
h1.tit-1 span{
	font-size: 30px;
	display: block;
	float: left;
	padding: 5px 20px 0 20px;
	line-height: 40px;
	position: absolute;
	top: -26px;
	background-image:url(../images/class_R_hdh3.gif) no-repeat;
font-weight: 900;
width: 80%;
}
h1.tit-1 span img{
	display: block;
	margin-right: 5px;
	float: left;
}
footer{
	height: 90px;
	line-height: 90px;
	width: 100%;
	float: left;
	background: #000;
	position: fixed;
	bottom: 0;
	max-width: 640px;
	border-top: 1px solid #fff;
	padding: 0 20%;
}
footer a{
	display: block;
	width: 33.33%;
	float: left;
	text-align: center;
	height: 90px;
}





.rightNav{ position:fixed; width:70px; left:0; top:30%; _position:absolute; text-align:left; cursor:pointer; background-image:url(about:blank);  }
.rightNav a{ border-radius: 8px;display:block; position:relative; height:70px; line-height:22px; margin-bottom:45px; background:#333333; width:70px; overflow:hidden;  cursor:pointer;font-size:26px;}
.rightNav a:hover{ text-decoration:none; color: #FFFFFF;  }
.rightNav a:hover em{ background:#075f9e;}
.rightNav a em{ border-radius: 8px;display:block; float:left; width:70px; background:#f5f3f3; color:#005A9C; font-size:20px; text-align:center;height: 70px;margin-top: 5px;}

