<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/oc.css" media="all">
    <style>
        .laytable-cell-1-icon{
            height:100%;
            max-width: 100%;
        }
        .laytable-cell{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">邀请码列表管理</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input style="width: auto;" type="text" id="uid" name="uid"  placeholder="请输入用户ID/名称" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input style="width: auto;" type="text" id="code" name="code"  placeholder="请输入邀请码" autocomplete="off" class="layui-input">
                    </div>

                    <div class="layui-input-inline " style="width: 90px">
                        <button class="layui-btn layuiadmin-btn-useradmin"  data-type="reload">
                            <i class="layui-icon" style="font-size: 20px; "></i> 搜索
                        </button>
                    </div>
                </div>
                <table id="list" lay-filter="list"></table>
                <script type="text/html" id="operator">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="viewInvite">查看邀请记录</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="viewShare">查看分享记录</a>
                </script>
            </div>
        </div>
    </div>
</div>

<script src="__LAYUI__/layui/layui.js"></script>
<script>
    layui.use(['table', 'jquery'], function () {
        var table = layui.table,
            $ = layui.$;
        var xxx = table.render({
            elem: '#list',
            url: "{:url('invite/code')}", //数据接口
            title: '邀请码表',
            toolbar: 'true',
            defaultToolbar: ['filter', 'print', 'exports'],
            page: true,
            loading: true,
            limit: 20,
            limits: [10, 20, 50, 100],
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                {field: 'uid',title: '用户ID',sort:true},
                {field: 'username',title:'用户名'},
                {field: 'code', title: '邀请码',sort:true},
                {field: 'invite_count', title: '邀请数',sort:true},
                {field: 'created_at',title:'时间',sort:true, width:180},
                {fixed: 'right', width: 400, align: 'center', toolbar: '#operator',title:'操作'}
            ]]
        });

        //事件
        var active = {

            reload: function () {
                var uid=$('#uid').val();
                var code = $('#code').val();
                var index = layer.msg('查询中，请稍候...',{icon: 16,time:false,shade:0});
                setTimeout(function(){
                    xxx.reload({ //表格的id
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            uid:$.trim(uid),
                            code:$.trim(code)
                        }
                    });
                    layer.close(index);
                },800);
            }
        };

        $('.layuiadmin-btn-useradmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听行工具事件
        table.on('tool(list)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'viewInvite') {
                parent.layui.index.openTabsPage('/admin/invite/index?from_uid=' + data.uid,'查看邀请记录');
            } else if (layEvent === 'viewShare') {
                parent.layui.index.openTabsPage('/admin/share/index?from_uid=' + data.uid,'查看分享记录');
            }
        });

    });
</script>
</body>
</html>