@charset "UTF-8";
.banner, img {
    height: auto
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

.container, .weui_btn {
    margin-left: auto;
    margin-right: auto
}

html {
    line-height: 1;
    font-size: 50px
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, td, th {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

.clearfix:after, .container:after {
    content: "";
    display: table;
    clear: both
}

*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body, html {
    -webkit-user-select: none;
    user-select: none
}

body {
    font-size: 16px
}

a, img {
    -webkit-touch-callout: none
}

img {
    max-width: 100%
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 20px
}

h1 {
    font-size: 18px;
    margin-bottom: 20px
}

h2 {
    font-size: 1.25em
}

.weui_btn, .weui_cells {
    position: relative;
    font-size: 14px;
    overflow: hidden
}

a {
    color: #0e90d2;
    text-decoration: none
}

a:hover {
    color: #0b6fa2
}

.clearfix {
    *zoom: 1
}

.fl {
    float: left
}

.fr {
    float: right
}

.container {
    max-width: 1200px;
    *zoom: 1
}

.banner {
    display: block;
    width: 100%
}

.weui_cells {
    margin-top: 1.17647059em;
    background-color: #FFF;
    line-height: 1.41176471
}

.weui_btn {
    display: block;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
    color: #FFF;
    line-height: 2.33333333;
    border-radius: 5px
}

.weui_btn_primary {
    background-color: #0d7aff
}

.weui_label {
    display: block;
    width: 4em
}

.page_title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%
}