@charset "UTF-8";
 /*body, html {*/
    /*height: 100%;*/
/*}*/
.container{  max-height: 100%; }
.sure-btn, .title {  text-align: center }

/*body {*/
    /*background: url(../image/census-bottom.png) #ffffff center bottom no-repeat*/
/*}*/

.title {
    margin-bottom: 0;
    height: 1rem;
    line-height: 1rem;
    font-size: 20px;
    font-family: tahoma, arial, STXihei, "Microsoft YaHei New", "Microsoft Yahei",  SimSun;
    color: #333333;
    margin-top: 1rem;
    /*text-shadow: .02rem .05rem .03rem #f5f5f5*/
}

.argument {   margin: 0 auto .2rem;  padding: .2rem .25rem; /*border: 1px dashed #ccc;*/ /*border-radius: .1rem;*/  color: #333;  font-size: 16px;  line-height: 1.5;  background-color: #FFF ; text-align: justify; }

@media (max-height: 600px) {
    .argument {
        max-height: 310px;
        overflow-y: scroll
    }
}
.sure-btn {  display: block;  margin: 0 auto;  height: .68rem;  line-height: .68rem;  width: 2.08rem;  padding: 0;  color: #fff;  font-size: 14px;  border-radius: .1rem;  border: none;  background-color: #0d7aff  }
.an {  width: 100%;  text-align: center;  }
#start_btn{ width: 34%; height: 40px; border:1px solid #107DF2; background: none; color: #107DF2;}
.weui-btn_primary{background-color:#107DF2;}
.weui-cells{ margin-top: 0;}