*{margin:0px;padding:0px;font-size:16px;border:0px;color:#333;list-style:none;text-decoration:none;}

.stepBg {
    padding: 0px;
    margin: 0px;
    background: #E4F4FF url("image/bggg.png") repeat-x scroll left bottom;
}
.whatDown {
    height: 30px;
    width: 100%;
    line-height: 30px;
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
    float: left;
    padding: 0px 10px;
    box-sizing: border-box;
}
.whatDown .red {
    font-size: 0.8em;
    color: #C33;
}
i, em, b, span, label, a {
    display: inline-block;
    font-style: normal;
}
.lineBox {
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    border: 0px none;
    background: transparent none repeat scroll 0% 0%;
margin-top: 10px;
}
.lineBox li {
    padding: 10px 0;
    line-height: 30px;
    height: auto;
    box-sizing: border-box;
    border-top: 1px solid #DDD;
    position: relative;
    font-size: 1em;
}
.lineBox li input[type="text"], .lineBox li select, .lineBox li textarea {
	width: 90%;
	border: 1px solid #DDD;
	background: #FFF none repeat scroll 0% 0%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	padding: 0px 20px;
	box-sizing: border-box;
	border-radius: 6px;
	margin-left: 5%;
}


 #my_keyboard {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #B5CCDA;
}
.key_tap {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    color: #507097;
    line-height: 50px;
    font-size: 1.8em;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #9DB8CB;
    box-shadow: 0px 1px 1px #CCC;
}
.clearFix {
    clear: both;
}
.blueBt {
    display: block;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    height: 52px;
    line-height: 52px;
    color: #FFF;
    font-size: 20px;
    box-shadow: 0px 3px 3px #AAA;
    border: 0px none;
    border-radius: 10px;
background:#04be02
}

.grayBt {
    display: block;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    height: 52px;
    line-height: 52px;
    color: #FFF;
    font-size: 20px;
    box-shadow: 0px 3px 3px #AAA;
    border: 0px none;
    border-radius: 10px;
}
.blueBt.mini, .grayBt.mini {
    width: 35%;
    display: inline;
    margin-left: 10%;
background: #04be02;
}

