<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户推荐</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/proTree.js"></script>
    <style>
        ul {
            margin-left: 20px;
        }
        .menuUl li {
            margin: 10px 0;
            font-size: 10px;
        }
        .menuUl li span:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        .menuUl li i { margin-right: 10px; top: 0px; cursor: pointer; color: #161616;}
    </style>
</head>
<body>
<div class="layui-fluid" id="LAY-app-message">
    <div class="layui-card">
        <div class="layui-card-header">关系表</div>
        <div class="layui-card-body">
            <div class="clt-auth-btns" style="margin-bottom: 10px;">
                <div class="layui-inline">
                    <input class="layui-input" name="key" id="key" placeholder="请输入用户名" autocomplete="off">
                </div>
                <button class="layui-btn search" data-type="reload">搜索</button>
            </div>
            <table class="layui-table" id="list" lay-filter="list"></table>
        </div>
    </div>
    <div>
        <div class="innerUl"></div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    //后台传入的 标题列表
    var arr = new Array();
    loaData('{$id}');
    function loaData(id) {
        $.ajax({
            url:"",
            type: "POST",
            async: false,
            dataType:"json",
            data:{
                id: id
            },
            success: function (data) {
                var arr = jQuery.parseJSON(data);
                //标题的图标是集成bootstrap 的图标  更改 请参考bootstrap的字体图标替换自己想要的图标
                $(".innerUl").ProTree({
                    arr: arr,
                    simIcon: "fa fa-file-o",//单个标题字体图标 不传默认glyphicon-file
                    mouIconOpen: "fa fa-folder-open-o",//含多个标题的打开字体图标  不传默认glyphicon-folder-open
                    mouIconClose:"fa fa-folder-o",//含多个标题的关闭的字体图标  不传默认glyphicon-folder-close
                    callback: function(id,name) {
                    }
                });
            },
        });
    }
    $('.search').click(function(){
        if($('#key').val() != '')
        {
            window.location.href="useRecom?key=" + $('#key').val();
        }
    });
</script>
</body>
</html>