<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户充币地址</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <style>
        .layui-form-label {
            width: 150px;
        }
        .layui-form-item .layui-input-inline {
            width: 400px;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">用户: {$userLst.username} /充币地址</div>
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" method="post" lay-filter="admin-form">
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <label class="layui-form-label">BTC充币地址</label>
                            <div class="layui-input-inline">
                                <input type="text" value="{$userLst.btc_self}" lay-verify="required" autocomplete="off" class="layui-input" readonly />
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <label class="layui-form-label">USDT充币地址</label>
                            <div class="layui-input-inline">
                                <input type="text" value="{$userLst.usdt_self}" lay-verify="required" autocomplete="off" class="layui-input" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="__LAYUI__/layui/layui.js"></script>
<script src="__LAYUI__/layui/jquery-1.10.2.js"></script>
<script>
    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
    }).use(['index', 'form'],function() {
        var $ = layui.jquery,
            form = layui.form;
    });
</script>
</body>
</html>