/** base **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img{border:medium none;margin: 0;padding: 0;}
body,button, input, select, textarea{font: 14px/1.5 'Microsoft Yahei',tahoma, Srial, helvetica, sans-serif!important;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
em{font-style:normal;}
ul, ol{list-style: none;}
a{text-decoration: none;color:#fff; cursor: pointer;}
a:hover{text-decoration: none;  color:#D09A05;  -moz-transition: all 0.3s ease-in;  -webkit-transition: all 0.3s ease-in;  -o-transition:all 0.3s ease-in;  transition: all 0.3s ease-in; }
img{border:0px;  outline-width:0px;  vertical-align:top;}
.fl{ float:left;}
.fr{ float:right;}

html {  min-height: 100%;    font-size: 1rem;}
html,body,div,p,svg,h1,text,path{margin:0;padding: 0;}
html body { font: 14px/21px Monaco, sans-serif;  color: #101010;  font-smoothing: antialiased;-webkit-text-size-adjust: 100%;  -moz-text-size-adjust: 100%;  -ms-text-size-adjust: 100%;  text-size-adjust: 100%;  height: 100%;}
html body h4 {  margin: 0;  color: #666; }

/*#header{ background: #013692;}*/
/*#header .mui-title,#header  a{ color: #fff;}*/
.mui-bar{  -webkit-box-shadow: 0 1px 6px #ccc;  box-shadow: 0 1px 6px #ccc;}

.mui-bar{  -webkit-box-shadow: 0 1px 6px #ccc;  box-shadow: 0 1px 6px #ccc;}
.t_margin{ margin-top: 54px!important; overflow: hidden;}