.fl{ float: left;}
.b_card{ background: url("../images/card_bg.png") no-repeat center; height: 14rem; width: 90%; margin:1rem auto; background-size:100%; overflow: hidden;}
.card1{ width: 80%;}
.b_card1{ background: url("../images/drive.png") no-repeat center; height: 14rem; width: 90%; margin:1rem auto; background-size:100%; overflow: hidden;position: relative;}
.card4{ position: absolute; top:110px; left:30px;}
span.ca1{ color: #36acd7;  font-size: 0.9rem; width: 17%; float: left; }
span.ca2{ color: #2c3132; font-size: 0.9rem; margin-left: 4px; width: 80%; float: left;}
.card5 img{ width: 80px; height: 100px;}
.b_container{ width: 90%; margin:30px auto 0 auto;  display: flex; justify-content: space-between;}
.b_container1{ width: 94%; margin:6px auto 0 auto; }
.cc{ margin-bottom: 5px; overflow: hidden;}
.c_content{width: 90%; margin:1rem auto 0 auto; }
.ca2 i{ font-style: normal;color: #36acd7;}
.ca3{ width: 38%;color: #36acd7;}
.ca4{ width: 62%;}
.b1{ font-size: 1.2rem; text-align: center; width: 100%; font-weight: bold; }
.b2{ font-size: 1.1rem; text-align: center; width: 100%; font-weight: bold;height: 20px;line-height: 20px; display: flex; align-items: center; justify-content: center; margin:6px 0;}
.b2 span{ background: #807382; width: 30px; height: 20px; text-align: center; line-height: 20px; color: #fff; display: inline-block; font-size: 0.6rem; margin-right: 4px;}
.b3{ display: flex; justify-content: space-between;}
.b3 li span:last-child{ border-bottom:1px dashed #2c3132; display: inline-block;}
.b4{ overflow: hidden; margin-bottom: 6px;}
.b4 span:first-child{ width: 10%; float: left;}
.b4 span:last-child{ width: 90%; float: left;border-bottom:1px dashed #2c3132; height: 21px; line-height: 21px; word-break: keep-all;}
.w2{ position: absolute; bottom:0; right:0; width: 80px; height: 100px;}
.d_list li span:last-child{border-bottom:1px dashed #2c3132;}

@media screen and (max-width: 320px) {
    .b_card1{ height: 12.5rem;}
    .b4 span:first-child{ width: 11%;}
    .b4 span:last-child{ width: 89%;}
    .w2{ bottom: 2px; right:0; width: 80px; height: 100px;}
    .b1{ display: none;}
    .b_container1{ margin-top: 14px;}
}

@media screen and (min-width: 414px) {
    .b_card1{ height: 16rem;}
    .b_container1{ margin-top: 16px;}
    .b2{ margin-bottom: 12px;}
    .b4{ margin-bottom: 12px;}
}
