/*reset*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0 auto;
    max-width: 750px;
    word-break: break-all;
    background: #f5f5f5;
}

ul, ol {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a.clear_color:link{color:#494949;}
a.clear_color:visited{color:#494949;}
a.clear_color:hover{color:#494949;}
a.clear_color:active{color:#494949;}
* {
    /*font-family: arial,sans-serif,"Microsoft YaHei",STHeiti,"Droid Sans Fallback",sans-serif;*/
    /*font-family: "微软雅黑";*/
    font-family: "Helvetica Neue", arial, Helvetica, STHeiTi, sans-serif;
    cursor: pointer;
    font-size: 14px;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

ul, li, ol {
    list-style-type: none;
}

/*禁止滚动*/
html.body {
    width: 100%;
    height: 100%;
}

.jz {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    z-index: -300;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.orange {
    color: #155EBE;
}

body {
    margin: 0 auto;
    max-width: 750px;
    word-break: break-all;
    background: #f5f5f5;
}

ul, ol {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a.clear_color:link{color:#494949;}
a.clear_color:visited{color:#494949;}
a.clear_color:hover{color:#494949;}
a.clear_color:active{color:#494949;}
* {
    /*font-family: arial,sans-serif,"Microsoft YaHei",STHeiti,"Droid Sans Fallback",sans-serif;*/
    /*font-family: "微软雅黑";*/
    font-family: "Helvetica Neue", arial, Helvetica, STHeiTi, sans-serif;
    cursor: pointer;
    font-size: 14px;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

ul, li, ol {
    list-style-type: none;
}

/*禁止滚动*/
html.body {
    width: 100%;
    height: 100%;
}

.jz {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    z-index: -300;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.orange {
    color: #155EBE;
}

body {
    margin: 0 auto;
    max-width: 750px;
    word-break: break-all;
    background: #f5f5f5;
    font-family: "Helvetica Neue", arial, Helvetica, STHeiTi, sans-serif;
    cursor: pointer;
    font-size: 14px;
}

ul, ol {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a.clear_color:link{color:#494949;}
a.clear_color:visited{color:#494949;}
a.clear_color:hover{color:#494949;}
a.clear_color:active{color:#494949;}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

ul, li, ol {
    list-style-type: none;
}

/*禁止滚动*/
html.body {
    width: 100%;
    height: 100%;
}

.jz {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    z-index: -300;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.orange {
    color: #155EBE;
}