/*金币商城首页*/
.page_goldmarket {
    width: 100%;
    background: #F5F5F5;
}

.page_goldmarket .header {
    width: 100%;
    height: 163px;
}

.page_goldmarket .navbar_1 {
    height: 38px;
    line-height: 38px;
    background: #FFF;
    margin-bottom: 10px;
}

.page_goldmarket .navbar_1 a {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    color: #333;
    vertical-align: middle;
}

.page_goldmarket .navbar_1 .left span {
    padding-left: 22px;
    background: url(../images/icon/my_bi.png) no-repeat 0 center;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.page_goldmarket .navbar_1 .right span {
    padding-left: 20px;
    background: url(../images/icon/h_record.png) no-repeat 0 center;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.page_goldmarket .navbar_2 {
    line-height: 24px;
    background: #FFF;
    margin-bottom: 10px;
}

.page_goldmarket .navbar_2 li {
    float: left;
    text-align: center;
    width: 33.33%;
    padding: 8px 0;
}

.page_goldmarket .navbar_2 li a {
    color: #333;
}
/*2种字体颜色*/
.page_goldmarket .navbar_2 .first img, .page_goldmarket .navbar_2 .second img, .page_goldmarket .navbar_2 .third img {
    width: 21px;
    height: 21px;
}

.page_goldmarket .goods_good li:first-child, .page_goldmarket .goods_good li:nth-child(2) {
    border-top: none;
}