img { -webkit-touch-callout:none;	/*禁止图片长按弹出选项菜单*/ }
* { -webkit-touch-callout:none; /*禁止链接长按弹出选项菜单*/ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*禁止链接高亮*/ }
a:link { -webkit-tap-highlight-color: rgba(0, 0, 0, 0);	/*禁止链接高亮*/ -webkit-touch-callout: none; /*禁止链接长按弹出选项菜单*/ }
